.motograu-game {
  background: linear-gradient(133deg,#780a80a2 0%,#3e0542a2 50%,#0d0d0ea2 100%)!important;
}

.motograu-game .transaction-bar {
  --tw-bg-opacity: 0.20;
  --tw-border-opacity: 0.20;
}

.motograu-game .crash-form {
  --tw-bg-opacity: 0.20;
  --tw-border-opacity: 0.20;
}

.motograu-game .results-bar {
  background: linear-gradient(133deg,#942d8f17 0%,#131213 50%,#080808a2 100%)!important;
}

.motograu-game .chat-container {
  background: linear-gradient(133deg,#942d8f17 0%,#131213 50%,#080808a2  100%)!important
 }
 